﻿@{
    ViewData["Title"] = "Registration Success !";
}

<div class="text-center">
    <h1 class="display-4">Registration Successfully !!</h1>
    <p>You sucessfully register with us. <a href="login">Login here.</a> Happy   shopping.</p>
</div> 